body {
    background-image: 
    url(assets/background_compressed.jpg);
}

a {
    text-decoration: none !important;
}

.sectionImage {
    width: 1000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-style: solid;
    border-color: black;

    
}
.sectionImage:hover {
    transform: scale(1.05);
    transition: all .5s ease-in-out;
}
 
.container {
    display: grid;
    grid-template-columns: [c1] 100% [c2];
    grid-template-rows: [r1] 300px [r2] 500px [r3] 500px [r4] 500px [r5] 100px [r6];
    row-gap: 300px;
}

.aboutMe {
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: r1;
    grid-row-end: r2;
}

.sectionOne {
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: r2;
    grid-row-end: r3;
}

.sectionTwo {
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: r3;
    grid-row-end: r4;
}

.sectionThree {
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: r4;
    grid-row-end: r5;
}

.icon{
    width: 50px;
    height: auto;
}
.icon:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}


.name {
    display: block;
    font-family:monospace;
    font-size: 50px;
    color: white;
    text-align: center;
}

.profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    border-radius: 50%;
    border-style: solid;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.blurb {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: monospace;

}

.sectionTitle {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    margin-left: 25px;
    color: rgb(255, 255, 255);
}

.githubLink {
    width: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 25%;
    border-style: solid;
    border-color: white;
}

.githubLink:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}