body {
    background-image: 
    url(assets/background.jpg);
}

.sectionOneImage {
    width: 1000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.sectionOneImage:hover {
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}

.sectionTwoImage {
    width: 1000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sectionTwoImage:hover {
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}
.sectionThreeImage {
    width: 1000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.sectionThreeImage:hover {
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}
 
.container {
    display: grid;
    grid-template-columns: [c1] 100% [c2];
    grid-template-rows: [r1] 600px [r2] 500px [r3] 500px [r4] 500px [r5];
    column-gap: 25px;
    row-gap: 100px;
}

.aboutMe {
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: r1;
    grid-row-end: r2;
}

.sectionOne {
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: r2;
    grid-row-end: r3;
}

.sectionTwo {
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: r3;
    grid-row-end: r4;
}

.sectionThree {
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: r4;
    grid-row-end: r5;
}

.twitterIcon{
    width: 50px;
    height: auto;
}
.twitterIcon:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}
.githubIcon {
    width: 50px;
    height: auto;
}
.githubIcon:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}
.emailIcon {
    width: 50px;
    height: auto;
}
.emailIcon:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}
.linkedInIcon {
    width: 50px;
    height: auto;
}
.linkedInIcon:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.name {
    display: flex;
    font-family:monospace;
    font-size: 50px;
    color: white;
    justify-content: center;
}

.profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    border-radius: 50%;
    border-style: solid;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.blurb {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.sectionTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}